.imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    width: px2rem(347);
    height: px2rem(378);
    background: #fff;
    margin-bottom: 10px;
    .wrapperImage {
      width: px2rem(347);
      height: px2rem(302);
      background: #e0e0e0;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .bottom {
      padding-left: 5px;
      padding-right: 5px;
      height: px2rem(65);
      display: flex;
      align-items: center;
      .titkle {
        flex: 1;
        font-size: px2rem(22);
        font-weight: bold;
        color: #666666;
      }
    }
  }
}